<div style="text-align:center">
  <h1>
    Welcome to T6 {{ title }}!
  </h1>
  <button (click)="createMessageComponent('hello cpm1')">message</button> &nbsp;&nbsp;
  <button (click)="createTableComponent('hello cpm1')">table</button>&nbsp;&nbsp;
  <button (click)="createCarouselComponent('hello cpm1')">Carousel</button>&nbsp;&nbsp;
  <button (click)="clear()">clear</button>

<br>


  


  <div class="zones" id="zone1" >
    <template #messagecontainer></template>
  </div>


  <div class="zones" id="zone2">
  <template #tablecontainer></template>
  </div>


  <div class="zones" id="zone3" >
  <template #carouselcontainer></template>
  </div>


  <div class="zones" id="zone4" >
  zone 4
    </div>



    <div class="zones" id="zone5" >
      zone 5
        </div>


        <div class="zones" id="zone6" >
          zone 6
            </div>

</div>